.bestSeller{
    width:95%;
    margin:60px auto;
}

.title{
    text-align:center;
    font-size:34px;
    color:#24335b;
    margin-bottom:35px;
    font-weight:700;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
}

.leaf{
    color:#ffb6c1;
    font-size:18px;
}

.card{

    position:relative;

    background:white;

    border:1px solid #efefef;

    border-radius:18px;

    padding:18px;

    transition:.3s;

    text-align:center;

    cursor:pointer;
}

.card:hover{
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.card img{

    width:100%;

    height:260px;

    object-fit:contain;
}

.wishlist{

    position:absolute;

    top:15px;

    right:15px;

    width:34px;

    height:34px;

    background:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 2px 8px rgba(0,0,0,.1);

    color:#999;
}

.card h4{

    margin-top:10px;

    font-size:17px;

    font-weight:600;

    color:#222;

    min-height:48px;

    margin-bottom: 0;
}

.card span{

    display:block;

    font-size:22px;

    font-weight:bold;

    margin:0 0 10px;

    color:#111;
}

.card button{

    width:150px;

    border:none;

    padding:11px;

    border-radius:30px;

    background:#f58d9e;

    color:white;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

    margin: 0 auto;
}

.card button:hover{

    background:#f07287;
}

.swiper-button-prev,
.swiper-button-next{

    width:48px;

    height:48px;

    background:white;

    border-radius:50%;

    color:#ff8ca3;

    border:1px solid #f4d5da;

    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.swiper-button-prev:after,
.swiper-button-next:after{

    font-size:18px;

    font-weight:bold;
}