@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  font-family: "Poppins", sans-serif;
}

.collections-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.collection-card {
  width: 220px;
  flex-shrink: 0;
}
.logo-font {
  font-family: "Pacifico", cursive;
}

.heading-font {
  font-family: "Baloo 2", cursive;
}

.text-font {
  font-family: "Poppins", sans-serif;
}
.color-pink{
  color: #f9aab1;
}