@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.collections-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.collection-card {
  width: 220px;
  flex-shrink: 0;
}
